* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  overflow-x: hidden;
  background-image: url("../src/assets/fotos/fondoFranK.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
}
